<html>
  <head>
    <link href="../../assets/style.css" rel="stylesheet" />
    <script src="../../assets/scripts.js"></script>
  </head>
  <body>

    <div id="main" style="width: 974px; height: 974px; background-image: url('background_1.png'); flex-direction: column; justify-content: space-between;">
      <div id="upper" style="width: 974px; padding: 151px 0 0 0; flex-direction: column;">
        <div id="musics" style="width: 974px; height: 486px; margin: 0 0 0 146px; justify-content: space-between; flex-direction: column;">
        </div>
        
        <div id="info" style="height: 255px; padding: 0 0 0 41px;">
          <div id="status" style="width: 300px; height: 255px; margin: 0; flex-direction: column; align-items: center; background-image: url('final_1.png'); justify-content: center;">
            <img id="course" src="title_451101.png" style="margin: 42px 0 0 0; object-fit: none" />
          </div>
          
          <div id="life" style="width: 210px; height: 210px; background-image: url('life_2.png'); margin: 45px 0 0 -10px; align-items: center; justify-content: center;">
          </div>
          
          <div id="detail" style="width: 425px; flex-direction: column; padding: 31px 0 0 0;">
            <div id="header">
              <span style="font-family: '阿里巴巴普惠体-H'; font-size: 18px; margin: 0 0 0 20px; color: #02359e;">合计成绩</span>
              <div id="life" style="width: 104px; height: 24px; background-image: url('life.png'); padding: 3px; margin: 4px 0 0 115px; justify-content: center;">
                <span id="value" style="font-family: '阿里巴巴普惠体-H'; font-size: 12px; color: #ade537; margin: 0 0 0 60px;">100</span>
              </div>
            </div>
            
            <div id="achievement" style="width: 408px; margin: 20px 0 0 23px; justify-content: flex-end; align-items: flex-end;">
              <img id="acc-0-0" src="score_2_3_4.png" style="object-fit: none; margin: 0 -10px 0 0;" />
              <img id="acc-0-1" src="score_2_3_0.png" style="object-fit: none; margin: 0 -10px 0 0;" />
              <img id="acc-0-2" src="score_2_3_0.png" style="object-fit: none; margin: 0 -20px 0 0;" />
              <img id="acc-dot" src="score_1_3_dot.png" style="object-fit: none; margin: 0 -20px -6px 0;" />
              <img id="acc-1-0" src="score_1_3_4.png" style="object-fit: none; margin: 0 -10px 0 0;" />
              <img id="acc-1-1" src="score_1_3_4.png" style="object-fit: none; margin: 0 -10px 0 0;" />
              <img id="acc-1-2" src="score_1_3_5.png" style="object-fit: none; margin: 0 -10px 0 0;" />
              <img id="acc-1-3" src="score_1_3_9.png" style="object-fit: none; margin: 0 -12px 0 0;" />
              <img id="acc-percent" src="percent_1_3.png" style="object-fit: none; margin: 0 0 0 0" />
            </div>
            
            <div id="damage" style="width: 336px; margin: 14px 0 0 78px; justify-content: space-between;">
              <div id="great" style="width: 104px; height: 24px; background-image: url('damage_1.png'); padding: 0 0 1px 0; align-items: center; justify-content: center;">
                <span id="value" style="font-family: '阿里巴巴普惠体-H'; font-size: 12px; color: #b0c0fe; margin: 0 0 0 58px;">-2</span>
              </div>
              <div id="good" style="width: 104px; height: 24px; background-image: url('damage_2.png'); padding: 0 0 1px 0; align-items: center; justify-content: center;">
                <span id="value" style="font-family: '阿里巴巴普惠体-H'; font-size: 12px; color: #b0c0fe; margin: 0 0 0 58px;">-3</span>
              </div>
              <div id="miss" style="width: 104px; height: 24px; background-image: url('damage_3.png'); padding: 0 0 1px 0; align-items: center; justify-content: center;">
                <span id="value" style="font-family: '阿里巴巴普惠体-H'; font-size: 12px; color: #b0c0fe; margin: 0 0 0 58px;">-5</span>
              </div>
            </div>
            
            <div id="heal-div" style="width: 150px; margin: 18px 0 0 316px; justify-content: space-between;">
              <div id="heal" style="width: 91px; height: 19px; background-image: url('heal.png'); align-items: center; justify-content: center;">
                <span id="value" style="font-family: '阿里巴巴普惠体-H'; font-size: 12px; color: #ade537; margin: 0 0 0 32px;">+20</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div id="footer" style="justify-content: center; background-color: #013162; padding: 12px">
        <span id="copyright" style="font-size: 22px; font-family: '阿里巴巴普惠体-H'; color: #ffffff; text-shadow: #000000 1px 1px;">
          可怜Bot 9.0 by 心水湛清 617 | https://bot-docs.otmdb.cn
        </span>
      </div>
    </div>

    <div id="music" style="width: 690px; height: 120px; justify-content: space-between; align-items: center;">
      <img id="result" src="result_1.png" style="object-fit: none;" />
      <div id="music-div" style="width: 570px; height: 120px; background-image: url('base_Master.png'); padding: 5px; justify-content: space-between;">
        <img id="cover" src="../../covers/0.png" style="width: 107px; height: 107px; margin: 2px 0 0 2px; object-fit: fill;" />
        
        <div id="info" style="width: 450px; flex-direction: column;">
          <div id="header" style="width: 450px; padding: 1px 5px 0 0; justify-content: flex-end;">
            <img id="type" src="type_SD.png" style="margin: 0 13px 0 0; object-fit: none;" />
            <div id="title-div" style="width: 270px; margin: 2px 0 0 0;">
              <span id="title" style="font-family: '阿里巴巴普惠体-B', '方正兰亭粗黑_GBK'; font-size: 12px; display: inline-block; white-space: nowrap; overflow: hidden; color: #ffffff;">私の中の幻想的世界観及びその顕現を想起させたある現実での出来事に関する一考察</span>
            </div>
          </div>
          
          <div id="level-div" style="width: 100px; margin: 3px 0 -48px 368px; align-items: flex-end;">
            <img id="level" src="level_4_level.png" style="object-fit: none;" />
            <div style="width: 70px; justify-content: center; margin: 0 0 0 -10px;">
              <div id="value" style="justify-content: center">
                <!-- <img src="level_3_1.png" style="object-fit: none; margin: 0 0 0 0;" />
                <img src="level_3_2.png" style="object-fit: none; margin: 0 0 0 -12px;" /> -->
              </div>
              <img id="plus" src="level_3_plus.png" style="object-fit: none; margin: 0 0 0 -14px;" />
            </div>
          </div>
          
          <div id="achievement" style="width: 320px; margin: 27px 0 0 6px; justify-content: flex-end; align-items: flex-end;">
            <img id="acc-0-0" src="score_1_none.png" style="object-fit: none; margin: 0 -16px 0 0;" />
            <img id="acc-0-1" src="score_1_none.png" style="object-fit: none; margin: 0 -10px 0 0;" />
            <img id="acc-0-2" src="score_1_3_0.png" style="object-fit: none; margin: 0 -16px 0 0;" />
            <img id="acc-dot" src="score_3_3_dot.png" style="object-fit: none; margin: 0 -16px -6px 0;" />
            <img id="acc-1-0" src="score_3_3_4.png" style="object-fit: none; margin: 0 -10px 0 0;" />
            <img id="acc-1-1" src="score_3_3_4.png" style="object-fit: none; margin: 0 -10px 0 0;" />
            <img id="acc-1-2" src="score_3_3_5.png" style="object-fit: none; margin: 0 -10px 0 0;" />
            <img id="acc-1-3" src="score_3_3_4.png" style="object-fit: none; margin: 0 -10px 0 0;" />
            <img id="acc-percent" src="percent_2_3.png" style="object-fit: none; margin: 0 0 0 2px" />
          </div>
          
          <div id="damage-div" style="margin: -18px 0 0 356px; align-items: center;">
            <span style="font-family: '阿里巴巴普惠体-H'; font-size: 12px; color: #02359e;">扣血</span>
            <span id="damage" style="font-family: '阿里巴巴普惠体-H'; font-size: 12px; color: #02359e; margin: 0 0 0 20px;">-114</span>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>