<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss} %-5level %msg%n)</pattern>-->
            <pattern>%-5level %msg%n)</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>