<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %date{yyyy-MM-dd HH:mm:ss} %logger{36}: %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="o.m.jdbc.client" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="Exposed" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.mongodb.driver" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>