<html>
  <head>
    <link href="../../assets/style.css" rel="stylesheet" />
    <script src="../../assets/scripts.js"></script>
  </head>
  <body>
    <div id="main" style="width: 1280px; min-height: 1280px; background-image: url('background.png'); background-size: cover; background-position: top center; flex-direction: column; justify-content: space-between;">
        
      <div id="upper" style="width: 1280px; padding: 48px; flex-direction: column;">
        <div id="header" style="min-height: 116px; margin: -20px 0px 0px 12px;">
          <span id="title" style="font-size: 36px; font-family: '阿里巴巴普惠体-H'; color: #fbf8e9; text-stroke: #e84472 12px; text-shadow: rgba(0, 0, 0, 0.2) 1px 1px; margin: 36px 0px 0px 0px;">XX完成表</span>
          <img id="all" src="" style="object-fit: none; margin: 0 0 0 10px;"/>
        </div>
        
        <div id="list" style="flex-direction: column; margin: 16px 0px 0px -2px;">
        </div>
      </div>

      <div id="footer" style="justify-content: center; background-color: #013162; padding: 12px">
        <span id="copyright" style="font-size: 22px; font-family: '阿里巴巴普惠体-H'; color: #ffffff; text-shadow: #000000 1px 1px;">
          可怜Bot 9.0 by 心水湛清 617 | https://bot-docs.otmdb.cn
        </span>
      </div>
    </div>

    <div id="group" style="margin: 0px 0px 12px 0px;">
      <div style="width: 80px; height: 80px; justify-content: center; align-items: center; background-image: url('level.png'); padding: 4px 0px 0px 0px; margin: 0px 14px 0px 14px;">
        <span id="level" style="font-size: 22px; font-family: '阿里巴巴普惠体-H'; color: #ffffff;">14</span>
      </div>
      
      <div id="musics" style="width: 1120px; flex-wrap: wrap; margin: 0px 0px 0px 6px;">
      </div>
    </div>

    <div id="music" style="width: 80px; height: 80px; background-color: #9f51dc; padding: 4px; margin: 0px 4px 8px 4px;">
      <div id="cover" style="width: 72px; height: 72px;">
        <div id="overlay" style="width: 72px; height: 72px; flex-direction: column; justify-content: space-between;">

          <div id="info" style="justify-content: space-between; width: 72px;">
            <img id="type" src="" style="object-fit: none; width: 14px; height: 7px; margin: 1px 0 0 1px" />
            
            <div id="id-container" style="width: 25px; justify-content: center; background-color: #9f51dc; margin: -2px -4px 0px 0px; padding: 0px 0px 2px 0px;">
              <span id="id" style="font-size: 10px; font-family: '阿里巴巴普惠体-H'; color: #ffffff;"></span>
            </div>
          </div>

          <div style="justify-content: center; align-items: center; width: 72px; height: 72px; margin: -16px 0px 0px 0px;">
            <img id="score" src="" style="object-fit: none;" />
          </div>

        </div>
      </div>
    </div>

  </body>
</html>