<html>
  <head>
    <link href="../../assets/style.css" rel="stylesheet" />
    <script src="../../assets/scripts.js"></script>
  </head>
  <body>
    <div id="main" style="width: 800px; min-height: 800px; background-image: url('background.png'); flex-direction: column; justify-content: space-between;">
      
      <div id="upper" style="justify-content: center; width: 800px; height: 745px; padding: 0px; flex-direction: column; align-items: center;">
        
        <div id="header" style="width: 704px; height: 227px; background-image: url('info_bg.png'); flex-direction: column;">
          <div id="header-cover" style="
              width: 704px;
              height: 227px;
              padding: 26px;
              background-image: url('../../covers/1512.png');
              background-size: cover;
              background-position: center;
              background-opacity: 0.15;
              mask-image: url('header_mask.png');
          ">

            <img id="cover" src="../../covers/1512.png" style="
                width: 175px;
                height: 175px;
                object-fit: fill;
                mask-image: url('cover_mask.png');
            " />
            
            <div id="right" style="height: 180px; flex-direction: column; justify-content: space-between; margin: 0px 0px 0px 20px;">
              <div id="top">
                <img id="type" src="type_DX.png" style="margin: 0px 7px 0px 0px;" />
                <span id="id" style="font-size: 18px; font-family: '阿里巴巴普惠体-H'; color: #ffffff; margin: -1px 0px 0px 0px;">ID</span>
              </div>
              
              <div id="title-container" style="justify-content: center; flex-direction: column; height: 100px; margin: -2px 0px 0px 0px;">
                <span id="title" style="width: 457px; font-size: 46px; min-font-size: 24px; font-family: '阿里巴巴普惠体-H', '方正兰亭特黑_GBK'; color: #ffffff;">私の中の幻想的世界観及びその顕現を想起させたある現実での出来事に関する一考察</span>
                <span id="artist" style="font-size: 18px; font-family: '阿里巴巴普惠体-H', '方正兰亭特黑_GBK'; color: #ffffff; margin: 8px 0px 0px 0px;">艺术家</span>
              </div>
              
              <img id="divider" src="divider.png" />
              
              <div id="bottom" style="margin: 4px 0px 0px 0px;">
                <img id="genre" src="genre_102.png" style="margin: 0px 8px 0px 0px;" />
                <img id="version" src="version_23000.png" style="margin: 0px 8px 0px 0px;" />
                <span id="bpm" style="font-size: 18px; font-family: '阿里巴巴普惠体-H'; color: #ffffff; margin: 7px 0px 0px 0px;">BPM</span>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div id="footer" style="justify-content: center; background-color: #013162; padding: 12px">
        <span id="copyright" style="font-size: 22px; font-family: '阿里巴巴普惠体-H'; color: #ffffff; text-shadow: #000000 1px 1px;">
          可怜Bot 9.0 by 心水湛清 617 | https://bot-docs.otmdb.cn
        </span>
      </div>
    </div>

    <div id="chart" style="width: 704px; min-height: 79px; background-image: url('base_Basic.png'); justify-content: space-between; align-items: center; padding: 1px 22px 0px 18px; margin: 6px 0px 0px 2px;">
          
      <div id="level-container" style="width: 43px; height: 43px; background-image: url('level_bg.png'); flex-direction: column; justify-content: center; align-items: center; padding: 2px 1px 1px 1px;">
        <span id="icon" style="font-size: 12px; font-family: '阿里巴巴普惠体-H'; color: #45C124">LV</span>
        <span id="level" style="font-size: 18px; font-family: '阿里巴巴普惠体-H'; color: #45C124; margin: -4px 0px 0px 0px;">-</span>
      </div>
      
      <div id="fixed-acc" style="width: 140px; justify-content: flex-start; margin: -1px 2px 0px -2px;">
        <span id="achievement" style="font-size: 24px; font-family: '阿里巴巴普惠体-H'; color: #ffffff; margin: 0px 0px 0px 12px;">暂无记录</span>
      </div>
      
      <div id="fixed-rank" style="width: 77px; justify-content: center;">
        <img id="rank" src="rank_none.png" />
      </div>
      
      <img id="combo" src="icon_blank.png" />
      <img id="sync" src="icon_blank.png" />
      
      <div id="dxstar-container" style="flex-direction: column; justify-content: center; align-items: center; margin: 0px 3px 0px 0px;">
        <span id="value" style="font-size: 16px; font-family: '阿里巴巴普惠体-H'; color: #ffffff;"> </span>
        <img id="icon" src="icon_dxstar_0.png" />
      </div>
      
      <div id="note-designer" style="width: 194px; height: 42px; background-image: url('note_designer_bg.png'); flex-direction: column; justify-content: center; align-items: center;">
        <span id="designer" style="font-size: 24px; min-font-size: 13px; text-align: center; font-family: '阿里巴巴普惠体-H', '方正兰亭特黑_GBK'; color: #ffffff;">-</span>
      </div>
    </div>

  </body>
</html>