<html>
  <head>
    <link href="../../assets/style.css" rel="stylesheet" />
    <script src="../../assets/scripts.js"></script>
  </head>
  <body>
    <div id="main" style="width: 1280px; height: 1280px; background-image: url('background_prism.png'); flex-direction: column; justify-content: space-between">

      <div id="upper" style="padding: 36px 40px 0 43px; flex-direction: column;">
        <div id="header" style="width: 773px; height: 125px; background-image: url('../../plates/458023.png'); flex-direction: row; padding: 8px; margin: 0 0 0 4px;">
          <img id="avatar" src="../../avatars/456103.png" style="width: 108px; height: 108px;"/>
          
          <div id="info" style="flex-direction: column; margin: 0 0 0 -2px;">
            <div id="rating" style="width: 192px; height: 38px; background-image: url('rating_base_1.png'); justify-content: flex-end; padding: 11px 16px 7px 0; margin: -2px 0 0 2px">
              <!-- <img src="rating_1.png" style="object-fit: none;"/>
              <img src="rating_6.png" style="object-fit: none;"/>
              <img src="rating_3.png" style="object-fit: none;"/>
              <img src="rating_8.png" style="object-fit: none;"/>
              <img src="rating_4.png" style="object-fit: none;"/> -->
            </div>
            
            <div id="name-container" style="width: 300px; height: 56px; background-image: url('header_name.png'); justify-content: space-between; align-items: center; padding: 2px 10px 0px 16px; margin: -4px 0 0 0">
              <span id="name" style="font-size: 27px; font-family: 'FZLanTingHei-B-GBK';">舞萌DX</span>
              <img id="course" src="dani_0.png" style="height: 38px; margin: -2px 0 0 0;"/>
            </div>
            
            <div style="width: 300px; height: 39px; background-image: url('header_shougou.png'); justify-content: center; padding: 9px; margin: -8px 0 -16px 0">
              <span id="name-title" style="color: #444444; font-size: 14px; font-family: '阿里巴巴普惠体-B'; text-stroke: #ffffff 2px;">信息展示</span>
            </div>
          </div>
        </div>

        <div id="best-35" style="flex-wrap: wrap; margin: 26px 0 0 0;">
        </div>

        <div style="justify-content: center;">
          <img id="icon-b15" src="icon_b15.png" style=""/>
        </div>

        <div id="best-15" style="flex-wrap: wrap;">
        </div>
      </div>

      <div id="footer" style="justify-content: center; background-color: #013162; padding: 12px">
        <span id="copyright" style="font-size: 22px; font-family: '阿里巴巴普惠体-H'; color: #ffffff; text-shadow: #000000 1px 1px;">
          可怜Bot 9.0 by 心水湛清 617 | https://bot-docs.otmdb.cn
        </span>
      </div>
    </div>
    
    <div id="music" style="width: 238px; height: 96px; background-image: url('base_None.png'); padding: 10px 0 10px 10px; margin: 0 2px -2px -1px;">
      <div id="cover" style="width: 72px; height: 72px; justify-content: start; align-items: flex-start; padding: 2px; margin: 0 0 0 2px;">
        <img id="type" src="" style="object-fit: none;" />
      </div>

      <div id="info" style="flex-direction: column; justify-content: space-between; margin: 1px 0 0 6px;">
        
        <div style="flex-direction: column; width: 138px; height: 48px; justify-content: space-between;">
          <div style="width: 138px; justify-content: space-between; margin: 1px 0 0 0;">
            <span id="index-id" style="color: #ffffff; font-size: 10px; font-family: '阿里巴巴普惠体-B'; margin: -3px 0 0 0;"></span>
            <img id="deluxe-star" src="" style="object-fit: none; margin: -1px -1px 0 0;" />
          </div>
          
          <span id="title" style="width: 138px; min-height: 17px; color: #ffffff; font-size: 12px; font-family: '阿里巴巴普惠体-B', '方正兰亭粗黑_GBK'; display: inline-block; white-space: nowrap; overflow: hidden; margin: -4px 0 0 0;"></span>
          
          <div id="achievement" style="align-items: flex-end; margin: -10px 0 0 -2px;">
            <span id="achievement-integer" style="color: #ffffff; font-size: 30px; font-family: '阿里巴巴普惠体-H';"></span>
            <span id="achievement-decimal" style="color: #ffffff; font-size: 24px; font-family: '阿里巴巴普惠体-H'; margin: 0 0 2px 0"></span>
            <span id="achievement-percent" style="color: #ffffff; font-size: 18px; font-family: '阿里巴巴普惠体-H'; margin: 0 0 4px 0"></span>
          </div>
        </div>

        <div id="extra" style="width: 146px; padding: 2px; justify-content: space-between; margin: 0 0 -1px -2px">
          <span id="level-rating" style="color: #9f51dc; font-size: 12px; font-family: '阿里巴巴普惠体-H'; text-stroke: #ffffff 2.5px; text-shadow: rgba(0, 0, 0, 0.2) 1px 1px; margin: 1px 0 0 0"></span>

          <div style="width: 82px; margin: 0 0px 0px 0;">
            <img id="rank" src="" style="object-fit: none; margin: -1px 0 0 -1px" />
            <img id="fc" src="" style="object-fit: none; width: 19px; margin: 0 0 0 -5px"/>
            <img id="fs" src="" style="object-fit: none; width: 19px; margin: 0 0 0 -1px"/>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>